<?xml version="1.0" encoding="utf-8"?>
<!-- A package installed for all users, with a Start menu shortcut
     (patches/sg/0590): test/msiallusers-gate.sh builds it with wixl. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SG All Users Test" Language="1033" Version="1.0.0" Manufacturer="Stained Glass OS"
           UpgradeCode="6b1f5f0e-2d2a-4c55-9f0e-0d7b4a3e5a11">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="data.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="SGAllUsers">
          <Component Id="Main" Guid="3c2a9d51-7f0b-4b9e-9a51-1a2b3c4d5e61">
            <File Id="Hello" Source="hello.txt" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MenuDir" Name="SGAllUsers">
          <Component Id="Menu" Guid="8e4f2b17-5c3d-4e1a-b7f9-2c3d4e5f6a71">
            <Shortcut Id="HelloLink" Name="Hello" Target="[INSTALLDIR]hello.txt" />
            <RemoveFolder Id="MenuDir" On="uninstall" />
            <RegistryValue Root="HKLM" Key="Software\Stained Glass\AllUsersTest" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="All" Level="1">
      <ComponentRef Id="Main" />
      <ComponentRef Id="Menu" />
    </Feature>
  </Product>
</Wix>
