<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SG Tree Test" Language="1033" Version="1.0.0" Manufacturer="Stained Glass OS" UpgradeCode="0b1f5f0e-2d2a-4c55-9f0e-0d7b4a3e5a12">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <Media Id="1" Cabinet="d.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir"><Directory Id="LocalAppDataFolder"><Directory Id="D" Name="SGTree">
      <Component Id="C" Guid="3c2a9d51-7f0b-4b9e-9a51-1a2b3c4d5e62"><File Id="F" Source="a.txt" KeyPath="yes" /></Component>
    </Directory></Directory></Directory>
    <Feature Id="Main" Title="Main files" Description="The main files of the test." Level="1"><ComponentRef Id="C" /></Feature>
  </Product>
</Wix>
